@import url('https://fonts.googleapis.com/css2?family=Roboto+Serif&display=swap');

* {
    box-sizing:border-box;
    margin: 0;
    padding: 0;
}

body {
    /* FONT-FAMILY */
    
    font-family: 'Roboto Serif', sans-serif;
    font-size: 16px;
    line-height: 1,5;
    font-weight: 600;
    letter-spacing: 1px;
    color: #222;
}